*{
    margin: 0px;
  }
nav {
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  justify-content:left;
  width: auto;
  padding-left: 2%;
}
h2 {
    margin: 0px;
    padding-top: 0.4%;
    text-align: center;
    width: 100%;
  }
  .chat {
    font-family: "Comfortaa", cursive;
    font-size: 38px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    margin-left: 40px;
  }
  
.info {
    font-family: 'Poppins', sans-serif;
   font-size: 32px;
   /* letter-spacing: 2px; */
   word-spacing: 2px;
   color: #000000;
   font-weight: 400;
   text-decoration: none solid rgb(68, 68, 68);
   font-style: normal;
   font-variant: normal;
   text-transform: capitalize;
   margin-left: 40px;
 }
 .social {
    margin-left: 40px;
    width: 55px;
    height: 55px;
  }